.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    .container-inputs {
    }
    .container-buttons {
        .btn {
            color: whitesmoke;
        }
    }
}