<main class="main">

  <h1>{{ title }}</h1> <!-- Data Binding (vinculação de dados) one-way interpolação de string -->

  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <!--  With submit event / save data -->
    <div class="container-email-password">
      <label for="email">E-mail:</label>
      <input id="input-email" type="text" placeholder="e-mail" formControlName="email" />

      <label for="password">Password:</label>
      <input id="input-password" type="password" placeholder="senha" formControlName="password" />
    </div>

    <button type="submit" [disabled]="!form.valid">Log in</button>
  </form>

</main>