main {
    .novoPersonagem {
        gap: 0.4em;
        input {
            background-color: transparent;
            color: #d9eee1;
            border: 2px solid #1cbfff;
        }
    }
}