<nav class="d-flex navbar-dark bg-dark">
    <div class="container-fluid">
        <ul class="d-flex flex-row justify-content-center align-items-center p-2 list-unstyled">
            <li class="nav-item fs-2"><a class="nav-link active text-danger " routerLink="/home">Home</a></li>
            <li class="nav-item fs-3"><a class="nav-link text-white " routerLink="/email">Informar-email</a></li>
            <li class="nav-item fs-3"><a class="nav-link text-white" routerLink="/rota3">Rota3</a></li>
        </ul>
    </div>
</nav>