<header class="header">
    <h1 class="fs-1 text-center">{{ title }}</h1>
</header>
<main class="main">
    <div class="buttons">
        <button id="btn1" type="button" class="btn btn-secondary" (click)="select1()" value="O">O</button>
        <button id="btn2" type="button" class="btn btn-success" (click)="select2()" value="X">X</button>
    </div>
    <div class="players">
        <p>Jogador 1: <span>{{ player1 }}</span></p>
        <p>Jogador 2: <span>{{ player2 }}</span></p>
        <p>Vencedor: <span>{{ winner }}</span></p>
    </div>
    <div class="restart">
        <button type="button" class="btn btn-dark" (click)="reset()">Reiniciar Partida...</button>
    </div>
    <table>
        <tr *ngFor="let row of [0,1,2]">
            <td *ngFor="let col of [0,1,2]" (click)="playRound(row, col)">
                {{ board[row][col] }}
            </td>
        </tr>
    </table>
</main>