header {
    display: flex;
    align-items: center;
    padding: 16px;
    font-family: "Ubuntu", sans-serif;
    border-bottom: 2px solid whitesmoke;
    background-color: #040d21;
    .span-icon {
        font-size: 6em;
        flex-grow: 1;
        padding: 15px;

        .fa-brands {
            color: #c3002f;
        }
    }

    h1 {
        font-size: 3em;
        color: #c3002f;
        text-decoration: underline;
        flex-grow: 1.2;
    }
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 469px;
    width: 100%;
    padding: 16px;
    gap: 8em;
    background-color: #040d21;

    .container-link {
        cursor: pointer;
        border: 2px solid #000;
        height: 70px;
        width: 20%;
        box-shadow: 4px 8px;
        text-align: center;
        padding-top: 12px;

        &:hover {
            color: #c3002f;
        }

        #app-link {
            font-size: 1.6em;
            font-family: Azeret Mono;
            padding: 8px;
            color: #c3002f;

            &:hover {
                color: whitesmoke;
            }
        }
    }
}