<header>
    <span class="span-icon"><i class="fa-brands fa-angular"></i></span>
    <h1 class="h1">DEVinHouse</h1>
</header>

<main class="main">
    <div class="container-link">
        <a id="app-link" routerLink="/login" routerLinkActive="active">Exercício I</a>
    </div>
    <div class="container-link">
        <a id="app-link" routerLink="/search" routerLinkActive="active">Exercício II</a>
    </div>
    <div class="container-link">
        <a id="app-link" routerLink="/number" routerLinkActive="active">Exercício III</a>
    </div>
    <div class="container-link">
        <a id="app-link" routerLink="/form" routerLinkActive="active">Exercício IV e V</a>
    </div>
    <div class="container-link">
        <a id="app-link" routerLink="/filmesAPI" routerLinkActive="active">Exercício VI até X</a>
    </div>
</main>
